#show-total {
  display: none;
}

h1.pizzaheader {
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  color:;
}

h4.pizzaheader {
  font-family: 'Raleway', sans-serif;
  margin-left: 20px;
}

body {
  background-image: url(pizzabackground.png);
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

select {
  max-width: 50%;
  margin: 0 auto;
  float: none;
}

input {
    max-width: 50%;
    margin: 0 auto;
    float: none;
  }
}
