#show-total {
  display: none;
}

h1.pizzaheader {
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  color: #FAD6D2;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h4.pizzaheader {
  font-family: 'Raleway', sans-serif;
}

button {
  background-color: #FAD6D2;
}

body {
  background-image: url(pizzabackground.png);
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

select {
  max-width: 50%;
  margin: 0 auto;
  float: none;
}

input {
    max-width: 50%;
    margin: 0 auto;
    float: none;
  }
}
